{{col-pick value=color
           previewValue=previewColor
           colorScheme=colorScheme
           colpickLayout=layout}}

color: {{color}}
preview: {{previewColor}}

<h2>Code</h2>
<pre>
  \{{col-pick value=color
             previewValue=previewColor
             colorScheme=colorScheme
             colpickLayout=layout}}

  color: \{{color}}
  preview: \{{previewColor}}
</pre>
