{{col-pick-input value=color
           previewValue=previewColor
           colorScheme=colorScheme
           colpickLayout=layout}}

color: {{color}}
preview: {{previewColor}}

{{view "select" content=colorSchemes value=colorScheme}}
{{view "select" content=layouts      value=layout}}

<h2>code</h2>

<pre>
\{{col-pick-input value=color
           previewValue=previewColor
           colorScheme=colorScheme
           colpickLayout=layout}}

color: \{{color}}
preview: \{{previewColor}}

\{{view "select" content=colorSchemes value=colorScheme}}
\{{view "select" content=layouts      value=layout}}
</pre>
