{{col-pick-input value=color
           previewValue=previewColor
           colorScheme=colorScheme
           colpickLayout=layout}}

color: {{color}}
preview: {{previewColor}}

<h2>code</h2>

<pre>
\{{col-pick-input value=color
           previewValue=previewColor
           colorScheme=colorScheme
           colpickLayout=layout}}

color: \{{color}}
preview: \{{previewColor}}
</pre>
