<ColPickInput
  @value={{this.color}}
  @previewValue={{this.previewColor}}
  @colorScheme={{this.colorScheme}}
  @colpickLayout={{this.layout}}
/>

color: {{this.color}}
preview: {{this.previewColor}}

<h2>code</h2>

<pre>
&lt;ColPickInput
    @value=\{{this.color}}
    @previewValue=\{{this.previewColor}}
    @colorScheme=\{{this.colorScheme}}
    @colpickLayout=\{{this.layout}}
/&gt;
color: \{{this.color}}
preview: \{{this.previewColor}}
</pre>
